<form method="POST" action="/new">
<h1>{{title}}</h1>
<input name="messageText" type="text" placeholder="text">
<input name="messageUser" type="text" placeholder="text">
<button>{{button}}</button>
</form>
